.roww {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.col1,
.col2,
.col3 {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
}

.col1 h2,
.col2 h2,
.col3 h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.col3 form div {
  display: flex;
  flex-direction: column;
}
