<!-- about-us.component.html -->

<div class="about-us-container">
    <div class="about-us-content">
        <h2>About Our Student Marks Portal</h2>
  
        <p class="bold">Welcome to our Student Marks Portal, a comprehensive platform designed to simplify the process of managing student marks and generating custom results. Our portal provides a user-friendly interface to upload CSV files containing student responses and answer keys, allowing you to generate accurate and personalized results effortlessly.</p>
      
        <h4>Key Features:</h4>
        <ul class="bold">
          <li class="bg-color"><i>Easy CSV Upload:</i>  Simply upload CSV files with student responses and answer keys.</li>
          <li class="bg-color"><i>Custom Result Generation:</i>  Generate personalized results based on uploaded data.</li>
          <li class="bg-color"><i>Student Question Analysis:</i>  Gain insights into individual student performance and question-wise analysis.</li>
        </ul>
      
        <div class="bold">
            <h4>Generating Complete Result (with Graph Analysis)</h4>
            <p>If you want to generate the complete result, including detailed analysis of students' results, follow the instructions below:</p>
            <p>Below are dummy CSV files that demonstrate the required format for uploading:</p>
            <ul class="downloadBtns">
                <li><a href="../../assets/csv/Students_Data.csv" download="Students_Data.csv" class="download-link">Download Students' Data (Sample)</a></li>
                <li><a href="../../assets/csv/Students_Response.csv" download="Students_Response.csv" class="download-link">Download Students' Response (Sample)</a></li>
                <li><a href="../../assets/csv/Answer_Key.csv" download="Answer_Key.csv" class="download-link">Download Answer Key (Sample)</a></li>
            </ul>
        </div>
        
      
        <p class="bold">Feel free to reach out to us if you have any questions or need assistance with our Student Marks Portal. Happy analyzing!</p>
    
        <div style="text-align: center;">
            <button type="button" class="btn bold btn-warning" (click)="navigateToCreateReport()">Start Generating Result</button>
        </div>
    </div>
   

</div>
