<div class="col1">
    <h2 mat-dialog-title>Student Details</h2>
    <div mat-dialog-content>
      <form [formGroup]="form">
        <div *ngFor="let studentHeader of data.studentsDataHeaders">
          <mat-checkbox [formControlName]="studentHeader" (change)="onStudentCheckboxChange(studentHeader, $event.checked)">{{ studentHeader }}</mat-checkbox>
        </div>
      </form>
    </div>
  </div>



  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button class="btn btn-primary" (click)="onSave()">Show Result</button>
  </div>
