<div class="main__content">
    <h3 class="heading">Application for Managing Student Data and Exam Results</h3>
  
    <div class="form">

        <div class="buttons-row">
            <button type="button" class="btn btn-outline-primary btn-lg" (click)="openCreateReportComp()">Create Report</button>
            <button type="button" class="btn btn-outline-success btn-lg">Existing Reports</button>
            <button type="button" class="btn btn-outline-success btn-lg">Dummy Button</button>
        </div>

        <div class="buttons-row">
            <button type="button" class="btn btn-outline-primary btn-lg" (click)="openCreateReportComp()">Create Report</button>
            <button type="button" class="btn btn-outline-success btn-lg">Existing Reports</button>
            <button type="button" class="btn btn-outline-success btn-lg">Dummy Button</button>
        </div>
  
      <!-- <h3>Upload Required Documents *</h3>
  
      <form class="form-container">
        <div class="form-row">
            <mat-form-field >
            <div class="form-field">
              <span>Student Details</span>
              <button mat-button class="import-button">Import</button>
            </div>
          </mat-form-field>
        </div>
      
        <div class="form-row">
          <mat-form-field >
            <div class="form-field">
            <span>Student Marks</span>
            <button mat-button class="import-button">Import</button>
            </div>
          </mat-form-field>
        </div>
      
        <div class="form-row">
          <mat-form-field >
            <div class="form-field">
            <span>Answer Key</span>
            <button mat-button class="import-button">Import</button>
            </div>
          </mat-form-field>
        </div>
  
        <div class="submitBtn">
          <button mat-raised-button color="primary">Submit</button>
        </div>
  
      </form> -->
    </div>
  
  </div>